@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: aquamarine; 
}
::-webkit-scrollbar-thumb:hover {
    background: darkcyan; 
}
#bgrc{
    background-color: rgb(156, 199, 240);
}
a{
    text-decoration: none;
    color: aquamarine;
}
a:hover{
    color: rgb(156, 199, 240);
}
header, footer{
    background: rgba(0,0,0,.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
header i {
    margin-bottom: 0;
    padding-bottom: 0;
}
.active-link{
    border-bottom: aquamarine 1px solid;
}
.active-link:hover{
    border-bottom: rgb(156, 199, 240) 1px solid;
}
.nav-btn-menu{
    color: aquamarine;
    font-size: 30px;
}
.nav-btn-menu:hover{
    color:rgb(156, 199, 240) ;
}
.card-responsive{
    width: 100%;
}
.card-btn{
    background-color: aquamarine;
    color: darkcyan;
}
.card-btn:hover{
    background-color: darkcyan;
    color:aquamarine;
}
.foot-holder{
    width: 250px;
}
footer p{
    margin: auto;
    color: aquamarine;
    text-align: center;
    font-size: 13px;
}
footer i {
    font-size: 25px;
    margin: 0px 5px;
}
#info, #info2{
    text-align: center;
    border: darkcyan;
    background-color: aquamarine;
    color: darkcyan;
}
#info2{
    background-color: white;
    width: 80%;
}
#info3{
    text-align: center;
    border-top: darkcyan 1px solid;
    border-left: darkcyan 1px solid;
    border-right: darkcyan 1px solid;
}
hr{
    width: 70%;
    border-top: transparent;
    border-bottom: darkcyan 2px solid;
    margin: 30px auto;
}
.bg-blur{
    background-image: radial-gradient(rgba(0,0,0,.3) 30%,transparent 70%);
}
.mgt{
    margin-top: 61.6px;
}