@media only screen and (max-width: 1023px){
    #textbox{
        right:30%;
    }
    #bio{
        width: 70%;
        margin-top: 40px;
    }
    .skillz{
        width:20%;
    }

}
@media only screen and (max-width: 922px){
    #textbox{
        right: 26%;
    }
    .skillz{
        width: 30%;
    }
    .skillz img{
        width: 60%;
    }
    #three{
        height: max-content;
    }
}
@media only screen and (max-width: 885px){
    h1{
        display: none;
    }
    nav{
        width: 100%;
    }
    #textbox{
        right: 24%;
    }
    #two,#three{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .overlay{
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
        width: 90%;
        height: 90%;
    }
    .polaroid{
        width:80%;
    }
    .polaroid:hover{
        width:83%;
    }
    .service-desc{
        width:60%;
    }
}
@media only screen and (max-width: 645px){
    nav li, .description{
        font-size: 16px;
    }
    #textbox{
        right: 14%;
    }
    #abt{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .overlay{
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        width: 80%;
        height: 80%;
    }
    .skillz{
        width: 40%;
    }
    .skillz img{
        width: 70%;
    }
    #form {
        width:80%;
    }
}
@media only screen and (max-width: 427px){
    *{
        font-size: 12px;
    }
    #textbox{
        right: 8%;
    }
    #five{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .description{
        font-size: 12px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    .overlay{
        top: 15%;
        left: 15%;
        right: 15%;
        bottom: 15%;
        width: 70%;
        height: 70%;
    }
    .skillz{
        width: 70%;
        margin:15px;
    }
    .skillz img{
        width: 50%;
    }
    #bio, #abt-img, #form {
        width:90%;
    }
}